In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./athlete_events.csv')

In [3]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
Olympic_data = data.drop(columns=['Name', 'Age', "Height", "Weight", "Games", "Season", "City", "Sport", "Event", "ID", "NOC"])

In [5]:
Olympic_data = Olympic_data.replace(0, np.nan)

In [6]:
Olympic_data = Olympic_data.dropna()
Olympic_data.reset_index(drop=True)

      Sex            Team  Year   Medal
0       M  Denmark/Sweden  1900    Gold
1       M         Finland  1920  Bronze
2       M         Finland  1920  Bronze
3       M         Finland  2014  Bronze
4       M         Finland  1948  Bronze
5       M         Finland  1948    Gold
6       M         Finland  1948    Gold
7       M         Finland  1948    Gold
8       M         Finland  1952  Bronze
9       M          Norway  1992    Gold
10      M          Norway  1992  Bronze
11      M          Norway  1994  Silver
12      M          Norway  1994  Bronze
13      M          Norway  1994  Silver
14      M          Norway  2002    Gold
15      M          Norway  2002    Gold
16      M          Norway  2006    Gold
17      F          Norway  2008    Gold
18      M          Norway  1920  Silver
19      F     Netherlands  1988  Bronze
20      M     Netherlands  1996  Silver
21      F          Norway  1996  Bronze
22      M          Norway  1920  Silver
23      M          Norway  1952  Bronze
24      M          Norway  1960    Gold
25      M          Taifun  1912    Gold
26      M          France  1956    Gold
27      M           Italy  2016  Bronze
28      M           Spain  2008  Bronze
29      F      Azerbaijan  2016  Bronze
...    ..             ...   ...     ...
39753   M     Switzerland  1896  Silver
39754   M     Switzerland  1896  Silver
39755   M     Switzerland  1896    Gold
39756   M         Belarus  2004  Silver
39757   F          Russia  2008    Gold
39758   F          Russia  2012  Silver
39759   M      Yugoslavia  1956  Silver
39760   M        Slovenia  1992  Bronze
39761   F         Belarus  1996  Bronze
39762   F         Belarus  2000    Gold
39763   F    Unified Team  1992  Bronze
39764   M         Georgia  2004    Gold
39765   M    Soviet Union  1976  Bronze
39766   F          Russia  2008  Bronze
39767   F         Germany  2004    Gold
39768   M         Austria  1924  Silver
39769   M     Netherlands  2004  Silver
39770   M     Netherlands  1992  Silver
39771   M     Netherlands  1996    Gold
39772   M         Germany  2016  Bronze
39773   F     Netherlands  1996  Bronze
39774   M          Poland  1980  Silver
39775   M     Netherlands  1992  Bronze
39776   M     Netherlands  1996    Gold
39777   F    Soviet Union  1952    Gold
39778   F    Soviet Union  1956  Silver
39779   F    Soviet Union  1964  Bronze
39780   M          Poland  1980  Bronze
39781   F          Russia  2000  Bronze
39782   F          Russia  2004  Silver

[39783 rows x 4 columns]